$column-width: 60px;
$gutter-width: 20px;

@mixin clearfix {
  // For modern browsers
   &:before,
   &:after {
     content:"";
     display:table;
   }  &:after {
     clear:both;
   }  // For IE 6/7 (trigger hasLayout)
   & {
     zoom:1;
   }
 }.group {
   @include clearfix;
 }

@mixin grid-unit($span) {
  float: left;
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width *($span -1));
}

// just style things

.container{
  // background-color: red;
  border: 1px solid black;
  // padding: 10px;
  // margin: 5px;
  margin-top: 10px;
  @include clearfix;
  // @include grid-unit(12);
  float: none;
  // margin: 0 auto;
}

body > * {
  font-family: 'Open Sans', sans-serif;
}


.btn {
  border: none;
  padding: 2px;
  background-color: rgb(77, 88, 88);
  box-shadow: 0 0.5em 0.25em 0;
  color: white;
  border-radius: 0.2em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(114, 150, 150);
}
// grid

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gutter-width;
  // background-color: darkslategrey;
}

.col {
  // border: 1px solid black;
  margin-top: 5px;
  // background-color: #333;
  // color: white;
  // font-weight: bold;

}

.col:hover {
  // padding-left: 10px;
  margin-left: 5px;
}

// .column-1 {
//   background-color: yellow;
// }

// Navbar

.nav{
  background-color: #333;
  color: white;
  font-weight: bold;
}

// Section


.section {
  grid-column: 1/span 5;
  background-color: lightgrey;
}

.image{
  height: 210px;
  width: 210px;
}

.link {
  text-decoration: none;
  font-weight: bold;
}